# Requests test

In [16]:
import requests
import json
import pandas as pd

## user/{id}

In [2]:
response = requests.get("http://localhost:8000/user/1")
response.content

b'{"detail":"No user with id 1"}'

In [3]:
response = requests.get("http://localhost:8000/user/500")
response.content

b'{"id":500,"gender":1,"age":29,"country":"Russia","city":"Yakutsk","exp_group":4,"os":"Android","source":"ads"}'

## post/{id}

In [4]:
response = requests.get("http://localhost:8000/post/-1")
response.content

b'{"detail":"No post with id -1"}'

In [5]:
response = requests.get("http://localhost:8000/post/1")
response.content

b'{"id":1,"text":"UK economy facing major risks\\n\\nThe UK manufacturing sector will continue to face serious challenges over the next two years, the British Chamber of Commerce (BCC) has said.\\n\\nThe groups quarterly survey of companies found exports had picked up in the last three months of 2004 to their best levels in eight years. The rise came despite exchange rates being cited as a major concern. However, the BCC found the whole UK economy still faced major risks and warned that growth is set to slow. It recently forecast economic growth will slow from more than 3% in 2004 to a little below 2.5% in both 2005 and 2006.\\n\\nManufacturers domestic sales growth fell back slightly in the quarter, the survey of 5,196 firms found. Employment in manufacturing also fell and job expectations were at their lowest level for a year.\\n\\nDespite some positive news for the export sector, there are worrying signs for manufacturing, the BCC said. These results reinforce our concern over the sectors persistent inability to sustain recovery. The outlook for the service sector was uncertain despite an increase in exports and orders over the quarter, the BCC noted.\\n\\nThe BCC found confidence increased in the quarter across both the manufacturing and service sectors although overall it failed to reach the levels at the start of 2004. The reduced threat of interest rate increases had contributed to improved confidence, it said. The Bank of England raised interest rates five times between November 2003 and August last year. But rates have been kept on hold since then amid signs of falling consumer confidence and a slowdown in output. The pressure on costs and margins, the relentless increase in regulations, and the threat of higher taxes remain serious problems, BCC director general David Frost said. While consumer spending is set to decelerate significantly over the next 12-18 months, it is unlikely that investment and exports will rise sufficiently strongly to pick up the slack.\\n","topic":"business"}'

## user/{id}/feed

In [6]:
response = requests.get("http://localhost:8000/user/1/feed")
response.content

b'[]'

In [7]:
response = requests.get("http://localhost:8000/user/500/feed")
pd.DataFrame(
    json.loads(response.content.decode("utf-8"))
)

,user_id,user,post_id,post,action,time
0,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",5966,"{'id': 5966, 'text': 'Where the Sidewalk Ends ...",view,2022-01-12T16:04:55
1,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",6220,"{'id': 6220, 'text': 'Okay, I think were all a...",view,2022-01-12T16:04:41
2,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",5894,"{'id': 5894, 'text': 'This film was excellent ...",view,2022-01-12T16:04:35
3,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",6169,"{'id': 6169, 'text': 'How many ppl know about ...",view,2022-01-12T16:04:24
4,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",6213,"{'id': 6213, 'text': 'One Night at McCools is ...",like,2022-01-12T16:04:07
5,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",6258,"{'id': 6258, 'text': 'I rented this movie from...",view,2022-01-12T16:03:20
6,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",6122,"{'id': 6122, 'text': 'Of course, how could he....",view,2022-01-12T16:02:27
7,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",6146,"{'id': 6146, 'text': 'Granted, HOTD 2 is bette...",view,2022-01-12T16:01:43
8,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",6203,"{'id': 6203, 'text': 'I buy or at least watch ...",like,2022-01-12T16:01:31

In [8]:
response = requests.get("http://localhost:8000/user/500/feed?limit=5")
pd.DataFrame(
    json.loads(response.content.decode("utf-8"))
)

,user_id,user,post_id,post,action,time
0,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",5966,"{'id': 5966, 'text': 'Where the Sidewalk Ends ...",view,2022-01-12T16:04:55
1,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",6220,"{'id': 6220, 'text': 'Okay, I think were all a...",view,2022-01-12T16:04:41
2,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",5894,"{'id': 5894, 'text': 'This film was excellent ...",view,2022-01-12T16:04:35
3,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",6169,"{'id': 6169, 'text': 'How many ppl know about ...",view,2022-01-12T16:04:24
4,500,"{'id': 500, 'gender': 1, 'age': 29, 'country':...",6213,"{'id': 6213, 'text': 'One Night at McCools is ...",like,2022-01-12T16:04:07

## post/{id}/feed

In [9]:
response = requests.get("http://localhost:8000/post/1/feed")
pd.DataFrame(
    json.loads(response.content.decode("utf-8"))
)

,user_id,user,post_id,post,action,time
0,108068,"{'id': 108068, 'gender': 1, 'age': 16, 'countr...",1,"{'id': 1, 'text': 'UK economy facing major ris...",like,2021-10-21T19:52:50
1,107621,"{'id': 107621, 'gender': 0, 'age': 25, 'countr...",1,"{'id': 1, 'text': 'UK economy facing major ris...",view,2021-10-21T19:44:25
2,109506,"{'id': 109506, 'gender': 0, 'age': 21, 'countr...",1,"{'id': 1, 'text': 'UK economy facing major ris...",view,2021-10-21T19:41:33
3,3236,"{'id': 3236, 'gender': 0, 'age': 19, 'country'...",1,"{'id': 1, 'text': 'UK economy facing major ris...",view,2021-10-21T19:25:06
4,109469,"{'id': 109469, 'gender': 0, 'age': 29, 'countr...",1,"{'id': 1, 'text': 'UK economy facing major ris...",view,2021-10-21T19:20:58
5,109337,"{'id': 109337, 'gender': 0, 'age': 68, 'countr...",1,"{'id': 1, 'text': 'UK economy facing major ris...",view,2021-10-21T19:00:28
6,691,"{'id': 691, 'gender': 0, 'age': 32, 'country':...",1,"{'id': 1, 'text': 'UK economy facing major ris...",view,2021-10-21T18:55:21
7,107532,"{'id': 107532, 'gender': 0, 'age': 37, 'countr...",1,"{'id': 1, 'text': 'UK economy facing major ris...",view,2021-10-21T18:37:06
8,2878,"{'id': 2878, 'gender': 1, 'age': 43, 'country'...",1,"{'id': 1, 'text': 'UK economy facing major ris...",view,2021-10-21T18:33:36

In [10]:
response = requests.get("http://localhost:8000/post/1/feed?limit=1")
pd.DataFrame(
    json.loads(response.content.decode("utf-8"))
)

,user_id,user,post_id,post,action,time
0,108068,"{'id': 108068, 'gender': 1, 'age': 16, 'countr...",1,"{'id': 1, 'text': 'UK economy facing major ris...",like,2021-10-21T19:52:50

In [11]:
response = requests.get("http://localhost:8000/post/-1/feed")
response.content

b'[]'

## /post/recommendations/

In [18]:
response = requests.get(
    "http://localhost:8000/post/recommendations/?id=784&time=2022-10-11T10:10:10&limit=2"
)
response.json()

[{'id': 1620,
  'text': 'Edu blasts Arsenal\n\nArsenals Brazilian midfielder Edu has hit out at the club for stalling over offering him a new contract.\n\nEdus deal expires next summer and he has been linked with Spanish trio Real Madrid, Barcelona and Valencia. He told BBC Sport: Im not sure if I want to stay or not because the club have let the situation go on this far. If they had really wanted to sign they should have come up with an offer six months before indicating they wanted to sign me and thats made me think. Edus brother and representative Amadeo Fensao has previously said that Arsenals current offer to the midfielder was well short of what he was seeking. And Edu, 26, added: My brother is due to come to London on Thursday.\n\nThere is a meeting planned for 6 or 7 January to sort it out with Arsenal. Now I have a choice to stay or go. I want to sort it out as soon as possible, thats in the best interests of both the club and myself. Im going to make my decision after the meeting later this week. Edu is now able to begin negotiations with other clubs because Fifa regulations allow players to start talks six months before their contracts expire. The midfielder, who broke in to the Brazilian national side in 2004, admitted he had been flattered to have been linked with the three Spanish giants. Edu said: Ive just heard stories from the news that the Madrid president Florentino Perez, the Valencia people, as well as Barcelona are interested.\n\nThats nice, but Ive never talked to them, so I cant say they want me sign 100%. Last month Wenger said he we was hopeful Edu would sign a new deal and played down suggestions that the lure of a club like Real Madrid would be too strong for Edu. Edu added that he had been encouraged by Wengers support for him. I still have a good relationship with Arsene Wenger - hes always said he wants me to sign.\n',
  'topic': 'sport'},
 {'id': 1507,
  'text': 'Benitez to launch Morientes bid\n\nLiverpool may launch an Â£8m January bid for long-time target Fernando Morientes, according to reports.\n\nThe Real Madrid striker has been linked with a move to Anfield since the summer and is currently behind Raul, Ronaldo and Michael Owen at the Bernabeu. Liverpool boss Rafael Benitez is keen to bolster his forward options with Djibril Cisse out until next season. If there is an attractive propostition it could be I would be keen to leave, admitted the 28-year-old Morientes. He added: Unfortunately, Im not in control of the situation. Im under contract to Real and they will make any decisions. The fee could put Liverpool off a prospective deal but Real are keen to net the cash as they are reported to be preparing a massive summer bid for Inter Milan striker Adriano. The Reds are currently sixth in the Premiership, 15 points behind leaders Chelsea.\n',
  'topic': 'sport'}]